BACKUP NODERED
[{"id":"2a5fcf56.49ee3","type":"watson-conversation-v1","z":"11cff246.f168ce","name":"Conversation","workspaceid":"18921d11-6863-465f-a950-79c68863d4a5","multiuser":true,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":" https://gateway.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":1091.6073608398438,"y":547.2777709960938,"wires":[["5c5bb9d7.8cc428","e2936733.37a208","aca99fce.706a7","55b800e6.785af"]]},{"id":"d7944dc8.94f24","type":"function","z":"11cff246.f168ce","name":"Prepare to conversation","func":"msg.user = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;\n","outputs":1,"noerr":0,"x":493.41688537597656,"y":461.0635018646717,"wires":[["13a4b3f7.be353c"]]},{"id":"9c10b224.82666","type":"function","z":"11cff246.f168ce","name":"Prepare to telegram","func":"msg.payload = {\n chatId : msg.user,\n type : \"message\",\n content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":733.2064819335938,"y":688.0316743850708,"wires":[["f98feaf5.e536f8"]]},{"id":"13a4b3f7.be353c","type":"function","z":"11cff246.f168ce","name":"Borrar al finalizar","func":"if(msg.payload.Negacion > 0){\n msg.params = {\n context : {}\n };\n}\n\nif(msg.payload.Horas_estudio > 0){\n msg.params = {\n context : {}\n };\n}\n\nif(msg.payload.Horas_libro > 0){\n msg.params = {\n context : {}\n };\n}\n\nif(msg.payload.TF > 0){\n msg.params = {\n context : {}\n };\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":734.0001983642578,"y":440.31348514556885,"wires":[["76e9acb3.952e84"]]},{"id":"5326eac3.0dcb14","type":"link in","z":"11cff246.f168ce","name":"","links":["987bd45e.fb2ce8","b6d5d01a.7752","e627d75a.2cd878"],"x":523.1073093414307,"y":232.63491821289062,"wires":[["3231e1d7.83c54e","13a4b3f7.be353c","2d9dd5d8.75905a"]]},{"id":"3231e1d7.83c54e","type":"function","z":"11cff246.f168ce","name":"FINAL TEXT ORGANIZAR","func":"function DecToHours(minutes){\n var sign = minutes < 0 ? \"-\" : \"\";\n var min = Math.floor(Math.abs(minutes));\n var sec = Math.floor((Math.abs(minutes) * 60) % 60);\n return sign + (min < 10 ? \"0\" : \"\") + min + \":\" + (sec < 10 ? \"0\" : \"\") + sec;\n}\n\n\nif(msg.payload.Horas_estudio > 0){\n console.log(msg);\n msg.payload = \"Vas a tardar \" + DecToHours(msg.payload.Horas_estudio) + \" horas en prepararte este examen para sacar buena nota.\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":741.7462043762207,"y":124.5714282989502,"wires":[["764e6b3a.950844"]]},{"id":"ad447129.16018","type":"function","z":"11cff246.f168ce","name":"Peparar para telegram Present","func":"msg.payload = {\n chatId : msg.user,\n type : \"message\",\n content : msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"x":1071.381103515625,"y":162.3968448638916,"wires":[["50323afb.42c854"]]},{"id":"917ffbad.f02cf8","type":"watson-text-to-speech","z":"11cff246.f168ce","name":"","lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","voice":"es-ES_EnriqueVoice","voicehidden":"es-ES_EnriqueVoice","format":"audio/mp3","password":"","apikey":"","payload-response":true,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":351.5022888183594,"y":818.0299682617188,"wires":[["9588fa0.fce0c08"]]},{"id":"eac573fd.10ed6","type":"change","z":"11cff246.f168ce","name":"Preparar para Speech","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":344.8592834472656,"y":773.7163696289062,"wires":[["917ffbad.f02cf8"]]},{"id":"9588fa0.fce0c08","type":"function","z":"11cff246.f168ce","name":"Preparar para telegram speech","func":"msg.payload = {\n chatId : msg.user,\n type : \"voice\",\n content : msg.payload\n    \n};\nreturn msg;","outputs":1,"noerr":0,"x":358.3179168701172,"y":865.2962036132812,"wires":[["f98feaf5.e536f8"]]},{"id":"6003a51.a50bc5c","type":"function","z":"11cff246.f168ce","name":"FUNCION PRESENTACION","func":"//Asignacion de variables\nnPagsPR = msg.payload.context.numberPaginasPr;\nPorc_notaPR = msg.payload.context.PorcentajePr;\nTiempoPR = msg.payload.context.TiempoPR;\n\n//Condicionales\nif(msg.payload.context.Pr_ManoOrd == \"Mano\"){\n    var TipoPR= 0.5;\n}else if(msg.payload.context.Pr_ManoOrd == \"Ordenador\"){\n    var TipoPR= 0.2;\n}\n\nif(msg.payload.context.Pr_InvestPrev == \"Mucha\"){\n var InvestPrevPR = 0.7;\n } else if(msg.payload.context.Pr_InvestPrev == \"Normal\"){\n var InvestPrevPR = 0.4;\n } else if(msg.payload.context.Pr_InvestPrev == \"Poco\"){\n var InvestPrevPR = 0.2;\n } else if(msg.payload.context.Pr_InvestPrev == \"Nada\"){\n var InvestPrevPR = 0.1;\n}\n\nif(msg.payload.context.InteresPr == \"Mucho\"){\n var InteresPR = 0.4;\n } else if(msg.payload.context.InteresPr == \"Normal\"){\n var InteresPR = 0.2;\n } else if(msg.payload.context.InteresPr == \"Poco\"){\n var InteresPR = 0.1;\n }\n\nKe = 4;\nKt = 3;\nKp = 2;\n\nNt = Porc_notaPR / 100;\nEt = Ke * TipoPR * nPagsPR;\nPt = Kp * TiempoPR;\n\nTF = Kt + (Pt + Et) * Nt * InvestPrevPR * InteresPR;\n\nmsg.payload ={\n    \"Nt\":Nt,\n    \"Et\":Et,\n    \"Pt\":Pt,\n    \"TF\":TF\n    };\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1540.380859375,"y":547.0634765625,"wires":[["f4f7ee76.00f39"]]},{"id":"e5d94457.06c198","type":"function","z":"11cff246.f168ce","name":"GOMA DE BORRAR","func":"msg.params = {\n context : {}\n };\nreturn msg;","outputs":1,"noerr":0,"x":1089.2859497070312,"y":498.74212646484375,"wires":[["2a5fcf56.49ee3"]]},{"id":"2e2c25f.313e6da","type":"function","z":"11cff246.f168ce","name":"FINAL TEXT PRESENTACION","func":"function DecToHours(minutes){\n var sign = minutes < 0 ? \"-\" : \"\";\n var min = Math.floor(Math.abs(minutes));\n var sec = Math.floor((Math.abs(minutes) * 60) % 60);\n return sign + (min < 10 ? \"0\" : \"\") + min + \":\" + (sec < 10 ? \"0\" : \"\") + sec;\n}\n\nif(msg.payload.TF > 1){\n console.log(msg);\n msg.payload = \"Te recomendaría que tardases \" + DecToHours(msg.payload.TF) + \" horas en prepararte esta presentación.\";\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":758.4763946533203,"y":162.34920597076416,"wires":[["ad447129.16018"]]},{"id":"f4f7ee76.00f39","type":"link out","z":"11cff246.f168ce","name":"","links":["209c1159.e7535e"],"x":1745.7144775390625,"y":547.0634155273438,"wires":[]},{"id":"209c1159.e7535e","type":"link in","z":"11cff246.f168ce","name":"","links":["f4f7ee76.00f39"],"x":522.5716123580933,"y":265.31352710723877,"wires":[["2e2c25f.313e6da","13a4b3f7.be353c"]]},{"id":"a65f51.ec1b60b","type":"function","z":"11cff246.f168ce","name":"Prepare to conversation","func":"msg.user = msg.originalMessage.from.id;\nmsg.payload = msg.transcription;\nreturn msg;\n","outputs":1,"noerr":0,"x":490.50013732910156,"y":422.2301974594593,"wires":[["13a4b3f7.be353c"]]},{"id":"47eb333d.ec257c","type":"switch","z":"11cff246.f168ce","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"audio","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":135.28587341308594,"y":453.8729820251465,"wires":[["474863f.13d8b9c"],["d7944dc8.94f24"]]},{"id":"55b800e6.785af","type":"function","z":"11cff246.f168ce","name":"NOMBRE_USUARIO","func":"\nNombre_user = msg.originalMessage.from.first_name;\nif(msg.payload.output.text[0] == \"Hola. ¿Cómo puedo ayudarle?\"){\n    msg.payload.output.text[0] = \"Hola \" + Nombre_user + \" ¿Cómo puedo ayudarte?\";\n}\nif(msg.payload.output.text[0] == \"TeLlamasAsi\"){\n    msg.payload.output.text[0] = Nombre_user;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":731.7501678466797,"y":641.8135047256947,"wires":[["9c10b224.82666"]]},{"id":"61cd7bb0.164bf4","type":"watson-speech-to-text","z":"11cff246.f168ce","name":"","alternatives":"2","speakerlabels":true,"smartformatting":false,"lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":401.88108825683594,"y":361.1110906600952,"wires":[["a65f51.ec1b60b"]]},{"id":"86854728.f8a838","type":"link in","z":"11cff246.f168ce","name":"","links":["cb674af6.e28438","447cb11f.6d5c2","50323afb.42c854"],"x":729.0001258850098,"y":954.0634932816029,"wires":[["f98feaf5.e536f8","2999687a.9cf72"]]},{"id":"474863f.13d8b9c","type":"function","z":"11cff246.f168ce","name":"PREPARE TO STT","func":"msg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":342.6192321777344,"y":315.68253898620605,"wires":[["61cd7bb0.164bf4"]]},{"id":"70343614.f7a1e8","type":"function","z":"11cff246.f168ce","name":"asigDBset","func":"var asigDB;\n\nif(msg.payload.context.asignatura_apuntar == \"ANATOMIA APLICADA\"){\n    var asigDB = \"anatomia aplicada\";\n}\nif(msg.payload.context.asignatura_apuntar == \"BIOLOGIA\"){\n    var asigDB = \"biologia\";\n}\nif(msg.payload.context.asignatura_apuntar == \"CIENCIAS DE LA TIERRA Y MEDIOAMBIENTE\" ){\n    var asigDB = \"ciencias de la tierra y medioambiente\";\n}\nif(msg.payload.context.asignatura_apuntar == \"CULTURA CIENTIFICA\"){\n    var asigDB = \"cultura cientifica\";\n}\nif(msg.payload.context.asignatura_apuntar == \"DIBUJO ARTISTICO\"){\n    var asigDB = \"dibujo artistico\";\n}\nif(msg.payload.context.asignatura_apuntar == \"DIBUJO TECNICO\"){\n    var asigDB = \"dibujo tecnico\";\n}\nif(msg.payload.context.asignatura_apuntar == \"ECONOMIA\" ){\n    var asigDB = \"economia\";\n}\nif(msg.payload.context.asignatura_apuntar == \"EDUCACION FISICA\" ){\n    var asigDB = \"educacion fisica\";\n}\nif(msg.payload.context.asignatura_apuntar == \"FILOSOFIA\"){\n    var asigDB = \"filosofia\";\n}\nif(msg.payload.context.asignatura_apuntar == \"FISICA\" ){\n    var asigDB = \"fisica\";\n}\nif(msg.payload.context.asignatura_apuntar == \"FRANCES\"){\n    var asigDB = \"frances\";\n}\nif(msg.payload.context.asignatura_apuntar == \"FUNDAMENTOS DE ADMINISTRACION Y GESTION\"){\n    var asigDB = \"fundamentos de administracion\";\n}\nif(msg.payload.context.asignatura_apuntar == \"GEOGRAFIA\"){\n    var asigDB = \"geografia\";\n}\nif(msg.payload.context.asignatura_apuntar == \"GEOLOGIA\"){\n    var asigDB = \"geologia\";\n}\nif(msg.payload.context.asignatura_apuntar == \"GRIEGO\"){\n    var asigDB = \"griego\";\n}\nif(msg.payload.context.asignatura_apuntar == \"HISTORIA DE ESPAÑA\"){\n    var asigDB = \"historia de espana\";\n}\nif(msg.payload.context.asignatura_apuntar == \"HISTORIA DE LA FILOSOFIA\"){\n    var asigDB = \"historia de la filosofia\";\n}\nif(msg.payload.context.asignatura_apuntar == \"HISTORIA DE LA MUSICA\"){\n    var asigDB = \"historia de musica\";\n}\nif(msg.payload.context.asignatura_apuntar == \"HISTORIA DEL ARTE\"){\n    var asigDB = \"historia del arte\";\n}\nif(msg.payload.context.asignatura_apuntar == \"HISTORIA DEL MUNDO CONTEMPORANEO\"){\n    var asigDB = \"historia del mundo contemporaneo\";\n}\nif(msg.payload.context.asignatura_apuntar == \"INGLES\"){\n    var asigDB = \"ingles\";\n}\nif(msg.payload.context.asignatura_apuntar == \"LATIN\"){\n    var asigDB = \"latin\";\n}\nif(msg.payload.context.asignatura_apuntar == \"LENGUA\"){\n    var asigDB = \"lengua\";\n}\nif(msg.payload.context.asignatura_apuntar == \"LENGUAJE Y PRACTICA MUSICAL\"){\n    var asigDB = \"lengua y practica musical\";\n}\nif(msg.payload.context.asignatura_apuntar == \"LITERATURA UNIVERSAL\"){\n    var asigDB = \"literatura\";\n}\nif(msg.payload.context.asignatura_apuntar == \"MATEMATICAS\"){\n    var asigDB = \"matematicas\";\n}\nif(msg.payload.context.asignatura_apuntar == \"PSICOLOGIA\"){\n    var asigDB = \"psicologia\";\n}\nif(msg.payload.context.asignatura_apuntar == \"QUIMICA\"){\n    var asigDB = \"quimica\";\n}\nif(msg.payload.context.asignatura_apuntar == \"RELIGION\"){\n    var asigDB = \"religion\";\n}\nif(msg.payload.context.asignatura_apuntar == \"TECNOLOGIA INDUSTRIAL\"){\n    var asigDB = \"tecnologia industrial\";\n}\nif(msg.payload.context.asignatura_apuntar == \"TECNOLOGIA DE LA INFORMACION Y COMUNICACIÓN\"){\n    var asigDB = \"tic\";\n}\n\nmsg.childpath = \"asignatura/\" + asigDB;\n\nreturn msg;","outputs":1,"noerr":0,"x":1440.0079345703125,"y":636.3173217773438,"wires":[["a4fbd8a4.cf37f8"]]},{"id":"138e9529.cd332b","type":"function","z":"11cff246.f168ce","name":" OrganizarFuncion","func":"if(msg.payload.context.Interes == \"Poco\"){\n var Interes = -0.2;\n } else if(msg.payload.context.Interes == \"Normal\"){\n var Interes = 0;\n } else if(msg.payload.context.Interes == \"Mucho\"){\n var Interes = 0.2;\n}\nif(msg.payload.context.Dificultad == \"Facil\"){\n var Dificultad = 0.1;\n } else if(msg.payload.context.Dificultad == \"Normal\"){\n var Dificultad = 0.3;\n } else if(msg.payload.context.Dificultad == \"Dificil\"){\n var Dificultad = 0.5;\n}\n\nif(msg.Negacion == \"No\"){\n    var Negacion = 1;\n}\n\n\n//Examen\nvar Semanas = msg.payload.context.number;\nvar Constante = flow.get('Constant');\nvar Horas_por_semana = flow.get('HPS');\nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1 + Dificultad + Interes);\n\n\nmsg.payload = {\n    \"date\": msg.payload.context.date,\n    \"Interes\":Interes,\n    \"Dificultad\":Dificultad,\n    \"Semanas\":Semanas,\n    \"Horas_base\":Horas_base,\n    \"Horas_estudio\":Horas_estudio,\n    \"Negacion\": Negacion\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1627.7501220703125,"y":693.0237426757812,"wires":[["b6d5d01a.7752"]]},{"id":"b6d5d01a.7752","type":"link out","z":"11cff246.f168ce","name":"","links":["5326eac3.0dcb14"],"x":1783.964599609375,"y":692.3690795898438,"wires":[]},{"id":"76e9acb3.952e84","type":"switch","z":"11cff246.f168ce","name":"Borrar Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"reset","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":848.4464721679688,"y":505.8929138183594,"wires":[["e5d94457.06c198"],["2a5fcf56.49ee3"]]},{"id":"9f4023c2.7686","type":"function","z":"11cff246.f168ce","name":"set HPS flow.context","func":"var HPS = msg.payload; \nvar HPS = flow.get('HPS')||0;\n\nHPS = msg.payload;\n \nflow.set('HPS',HPS);\n \nmsg = {};\nmsg.payload = HPS;\n \nreturn msg;\n","outputs":1,"noerr":0,"x":2108.5,"y":636.142822265625,"wires":[[]]},{"id":"4695f837.e49fd8","type":"function","z":"11cff246.f168ce","name":"HARD","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"origAsig\":\n        context.data.origAsig = msg;\n        msg = null;\n        break;\n    case \"asigDB\":\n        context.data.asigDB = msg.HPS;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.origAsig != null && context.data.asigDB != null) {\n\tmsg2 = new Object();\n    msg2 = context.data;\n    context.data=null;\n\treturn msg2;\n} else return msg;","outputs":1,"noerr":0,"x":1431.4286041259766,"y":742.2500133514404,"wires":[[]]},{"id":"c9b9764e.da8718","type":"switch","z":"11cff246.f168ce","name":"","property":"payload.context.Tipo","propertyType":"msg","rules":[{"t":"eq","v":"Libro","vt":"str"},{"t":"eq","v":"Presentacion","vt":"str"},{"t":"eq","v":"Examen","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1269.5653076171875,"y":622.2025756835938,"wires":[["a3f4a241.ab422"],["6003a51.a50bc5c"],["70343614.f7a1e8","3fba85a5.59c46a"]]},{"id":"a3f4a241.ab422","type":"function","z":"11cff246.f168ce","name":"ORGANIZAR LIBRO","func":"if(msg.payload.context.InteresanteLibro == \"Muy\"){\n    var varIntPag = 50;\n} else if(msg.payload.context.InteresanteLibro == \"Normal\"){\n    var varIntPag = 45;\n} else if(msg.payload.context.InteresanteLibro == \"Poco\"){\n    var varIntPag = 40;\n}\n\nif(msg.payload.context.Negacion == \"No\"){\n    var Negacion = 1;\n}\n\n//Libro\nvar paginas = msg.payload.context.number_paginas;\nHoras_libro = paginas/varIntPag;\n\nmsg.payload = {\n \"Horas_libro\":Horas_libro,\n \"Negacion\": Negacion\n \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1520.428466796875,"y":504.0477294921875,"wires":[["21c5c6e4.578f1a"]]},{"id":"764e6b3a.950844","type":"function","z":"11cff246.f168ce","name":"Peparar para telegram Examen","func":"msg.payload = {\n chatId : msg.user,\n type : \"message\",\n content : msg.payload\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1106.3333129882812,"y":124.14286041259766,"wires":[["50323afb.42c854"]]},{"id":"50323afb.42c854","type":"link out","z":"11cff246.f168ce","name":"","links":["86854728.f8a838"],"x":1383.2617712020874,"y":110.14287567138672,"wires":[]},{"id":"c492c12d.cad87","type":"chatbot-telegram-receive","z":"11cff246.f168ce","bot":"9efe78a3.fa10c8","botProduction":"9efe78a3.fa10c8","x":136.6666488647461,"y":506.87286376953125,"wires":[["47eb333d.ec257c","37e60631.2eafba"]]},{"id":"f98feaf5.e536f8","type":"chatbot-telegram-send","z":"11cff246.f168ce","bot":"9efe78a3.fa10c8","botProduction":"9efe78a3.fa10c8","track":false,"outputs":0,"x":964.0001602172852,"y":954.0634951889515,"wires":[]},{"id":"5c5bb9d7.8cc428","type":"debug","z":"11cff246.f168ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1223.1905517578125,"y":380.952392578125,"wires":[]},{"id":"a85c677e.4709d8","type":"function","z":"11cff246.f168ce","name":"FINAL TEXT LIBRO","func":"function DecToHours(minutes){\n var sign = minutes < 0 ? \"-\" : \"\";\n var min = Math.floor(Math.abs(minutes));\n var sec = Math.floor((Math.abs(minutes) * 60) % 60);\n return sign + (min < 10 ? \"0\" : \"\") + min + \":\" + (sec < 10 ? \"0\" : \"\") + sec;\n}\n\nif(msg.payload.Horas_libro > 0){\n console.log(msg);\n msg.payload = \"Vas a tardar \" + DecToHours(msg.payload.Horas_libro) + \" horas en leerte este libro.\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":715.9524002075195,"y":42.66666793823242,"wires":[["d27a60d0.30e26"]]},{"id":"26208fa7.52942","type":"link in","z":"11cff246.f168ce","name":"","links":["21c5c6e4.578f1a"],"x":524.9999961853027,"y":197.4285717010498,"wires":[["a85c677e.4709d8","13a4b3f7.be353c"]]},{"id":"d27a60d0.30e26","type":"function","z":"11cff246.f168ce","name":"Peparar para telegram Libro","func":"msg.payload = {\n chatId : msg.user,\n type : \"message\",\n content : msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"x":962.4285888671875,"y":42.66666793823242,"wires":[["50323afb.42c854"]]},{"id":"21c5c6e4.578f1a","type":"link out","z":"11cff246.f168ce","name":"","links":["26208fa7.52942"],"x":1745.4761962890625,"y":504.0477294921875,"wires":[]},{"id":"3fba85a5.59c46a","type":"delay","z":"11cff246.f168ce","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1429.166748046875,"y":691.3333129882812,"wires":[["138e9529.cd332b"]]},{"id":"e2936733.37a208","type":"function","z":"11cff246.f168ce","name":"Configurar DB","func":"var DBconfig = flow.get('DBconfig')||0;\n\nDBconfig = 0;\n \nflow.set('DBconfig',DBconfig);\n \nmsg.DBconfig = DBconfig;\nreturn msg;","outputs":1,"noerr":0,"x":1044.6428756713867,"y":638.8094463348389,"wires":[["c9b9764e.da8718"]]},{"id":"aca99fce.706a7","type":"function","z":"11cff246.f168ce","name":"VALORAR","func":"//Variables\nvar result = msg.payload.context.nota_exam;\nvar finalVar;\n\n//Condicionales\nif(result < 3){\n     finalVar = flow.get('Constant') * 1.15;\n}\nif(result >= 3 && result < 5){\n    finalVar = flow.get('Constant') * 1.12;\n}\nif(result >= 5 && result < 7){\n     finalVar = flow.get('Constant') * 1.08;\n}\nif(result >= 7 && result <= 8){\n     finalVar = flow.get('Constant') * 1.05;\n}\nif(result > 8 && result < 9){\n    finalVar = flow.get('Constant') * 1;\n}\nif(result >=9){\n    finalVar = flow.get('Constant') * 0.96;\n}\n\n//Preparar para BD\nmsg.payload = finalVar;\n\nreturn msg;","outputs":1,"noerr":0,"x":1581.250144958496,"y":370.83338928222656,"wires":[["89e6f625.b959b8","da43ce15.1332e8"]]},{"id":"37e60631.2eafba","type":"debug","z":"11cff246.f168ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":426.1904067993164,"y":619.7619304656982,"wires":[]},{"id":"9b921465.ddec58","type":"link in","z":"11cff246.f168ce","name":"","links":["b37e5ae1.0ef3d8","fdc39682.25b4c8"],"x":802.1428070068359,"y":545.7143287658691,"wires":[["2a5fcf56.49ee3"]]},{"id":"a4fbd8a4.cf37f8","type":"firebase.once","z":"11cff246.f168ce","name":"","firebaseconfig":"","childpath":"msg.childpath","repeatifnull":false,"eventType":"value","queries":[],"x":1759.5,"y":636,"wires":[["9f4023c2.7686"]]},{"id":"da43ce15.1332e8","type":"firebase modify","z":"11cff246.f168ce","name":"","firebaseconfig":"","childpath":"constanteValorar","method":"set","value":"msg.payload","priority":"msg.priority","x":1922.500072479248,"y":371.42856311798096,"wires":[[]]},{"id":"c6761614.a2e028","type":"firebase.on","z":"11cff246.f168ce","name":"","firebaseconfig":"","childpath":"constanteValorar","atStart":true,"eventType":"value","queries":[],"x":1211.0714721679688,"y":821.0714282989502,"wires":[["622b7c0d.46018c"]]},{"id":"622b7c0d.46018c","type":"function","z":"11cff246.f168ce","name":"setValorarVar","func":"flow.set('Constant', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1532.285659790039,"y":821.0714282989502,"wires":[["8644aba.a24dad8"]]},{"id":"8644aba.a24dad8","type":"debug","z":"11cff246.f168ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1732.1428451538086,"y":820.5715503692627,"wires":[]},{"id":"2999687a.9cf72","type":"debug","z":"11cff246.f168ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":855.7142857142857,"y":1035.7142857142856,"wires":[]},{"id":"89e6f625.b959b8","type":"function","z":"11cff246.f168ce","name":"Borrar al finalizar Valorar","func":"msg.params = {\n context : {}\n };\nreturn msg;","outputs":1,"noerr":0,"x":1835.3571319580078,"y":416.66666316986084,"wires":[["fdc39682.25b4c8"]]},{"id":"fdc39682.25b4c8","type":"link out","z":"11cff246.f168ce","name":"","links":["9b921465.ddec58"],"x":2018.6905517578125,"y":416.90478229522705,"wires":[]},{"id":"2d9dd5d8.75905a","type":"function","z":"11cff246.f168ce","name":"Final Txt Recordar","func":"var date = msg.payload.date\nvar dayString = date.slice(-2);\nvar monthString = date.slice(5, -3);\nvar month;\n\n//monthString to MonthNum\nif(monthString == \"01\"){\n    monthNum = 1;\n}\nif(monthString == \"02\"){\n    monthNum = 2;\n}\nif(monthString == \"03\"){\n    monthNum = 3;\n}\nif(monthString == \"04\"){\n    monthNum = 4;\n}\nif(monthString == \"05\"){\n    monthNum = 5;\n}\nif(monthString == \"06\"){\n    monthNum = 6;\n}\nif(monthString == \"07\"){\n    monthNum = 7;\n}\nif(monthString == \"08\"){\n    monthNum = 8;\n}\nif(monthString == \"09\"){\n    monthNum = 9;\n}\nif(monthString == \"10\"){\n    monthNum = 10;\n}\nif(monthString == \"11\"){\n    monthNum = 11;\n}\nif(monthString == \"12\"){\n    monthNum = 12;\n}\n\n//DayString to Number\nif (dayString == \"01\"){\n    day = 11;\n}\nif (dayString == \"02\"){\n    day = 12;\n}\nif (dayString == \"03\"){\n    day = 13;\n}\nif (dayString == \"04\"){\n    day = 14;\n}\nif (dayString == \"05\"){\n    day = 15;\n}\nif (dayString == \"06\"){\n    day = 16;\n}\nif (dayString == \"07\"){\n    day = 17;\n}\nif (dayString == \"08\"){\n    day = 18;\n}\nif (dayString == \"09\"){\n    day = 19;\n}\nif (dayString == \"10\"){\n    day = 20;\n}\nif (dayString == \"11\"){\n    day = 21;\n}\nif (dayString == \"12\"){\n    day = 22;\n}\nif (dayString == \"13\"){\n    day = 23;\n}\nif (dayString == \"14\"){\n    day = 24;\n}\nif (dayString == \"15\"){\n    day = 25;\n}\nif (dayString == \"16\"){\n    day = 26;\n}\nif (dayString == \"17\"){\n    day = 27;\n}\nif (dayString == \"18\"){\n    day = 28;\n}\nif (dayString == \"19\"){\n    day = 29;\n}\nif (dayString == \"20\"){\n    day = 30;\n}\nif (dayString == \"21\"){\n    day = 31;\n}\nif (dayString == \"22\"){\n    monthNum = monthNum + 1;\n    day = 1;\n}\nif (dayString == \"23\"){\n    day = 2;\n    monthNum = monthNum + 1;\n}\nif (dayString == \"24\"){\n    day = 3;\n    monthNum = monthNum + 1;\n}\nif (dayString == \"25\"){\n    day = 4;\n    monthNum = monthNum + 1;\n}\nif (dayString == \"26\"){\n    day = 5;\n    monthNum = monthNum + 1;\n}\nif (dayString == \"27\"){\n    day = 6;\n    monthNum = monthNum + 1;\n}\nif (dayString == \"28\"){\n    day = 7;\n    monthNum = monthNum + 1;\n}\nif (dayString == \"29\"){\n    day = 8;\n    monthNum = monthNum + 1;\n}\nif (dayString == \"30\"){\n    day = 9;\n    monthNum = monthNum + 1;\n}\nif (dayString == \"31\"){\n    day = 10;\n    monthNum = monthNum + 1;\n}\n\n//Month Number to string\nif (monthNum == 1){\n    month = \"enero\";\n}\nif (monthNum == 2){\n    month = \"febrero\";\n}\nif (monthNum == 3){\n    month = \"marzo\";\n}\nif (monthNum == 4){\n    month = \"abril\";\n}\nif (monthNum == 5){\n    month = \"mayo\";\n}\nif (monthNum == 6){\n    month = \"junio\";\n}\nif (monthNum == 7){\n    month = \"julio\";\n}\nif (monthNum == 8){\n    month = \"agosto\";\n}\nif (monthNum == 9){\n    month = \"septiembre\";\n}\nif (monthNum == 10){\n    month = \"octubre\";\n}\nif (monthNum == 11){\n    month = \"noviembre\";\n}\nif (monthNum == 12){\n    month = \"diciembre\";\n}\n\nif(msg.payload.Horas_estudio > 0){\n console.log(msg);\n msg.payload = \"Recuerda que el día \" + day + \" de \"+ month + \" deberás valorar tu examen.\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":721.6666259765625,"y":85,"wires":[["99818685.75ab58"]]},{"id":"99818685.75ab58","type":"delay","z":"11cff246.f168ce","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":892.5,"y":85.33333587646484,"wires":[["764e6b3a.950844"]]},{"id":"9efe78a3.fa10c8","type":"chatbot-telegram-node","z":"11cff246.f168ce","botname":"usuzu","usernames":"","providerToken":"","polling":"1200","store":"6df08e31.26a44","log":"","parseMode":"HTML","debug":false},{"id":"6df08e31.26a44","type":"chatbot-context-store","z":"11cff246.f168ce","name":"","contextStorage":"memory","contextParams":""}]
